<h2>Log in</h2>

<%= form_tag welcome_iniciar_sesion_path do %>
    <%= text_field_tag :username %><br>
    <%= password_field_tag :password, autocomplete: "off" %><br>
    <%= submit_tag "Log in" %>
<% end %>
<% if @error_login %>
    <div style="color: #f00;"> El nombre de usuario o la contraseña son incorrectos. </div>
<% end %>